<html></<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Лекция №2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
      [v-cloak] {
        display:none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <h2>Редактирование пользователя</h2>
      <user-form v-bind:edit_user="user"></user-form>
      <p><a href="index.html">Список пользователей</a></p>
    </div>

    <template id="user-form">
      <form>
        <div class="form-group">
          <label for="firstnameInput">Имя</label>
          <input
            type="text"
            v-model="edit_user.firstname"
            class="form-control"
            id="firstnameInput"
            placeholder="Введите имя">
        </div>
        <div class="form-group">
          <label for="secondnameInput">Отчество</label>
          <input
            type="text"
            v-model="edit_user.secondname"
            class="form-control"
            id="secondnameInput"
            placeholder="Введите отчество">
        </div>
        <div class="form-group">
          <label for="lastnameInput">Фамилия</label>
          <input
            type="text"
            v-model="edit_user.lastname"
            class="form-control"
            id="lastnameInput"
            placeholder="Введите фамилия">
        </div>
        <button
          type="submit"
          class="btn btn-primary">Submit</button>
      </form>
      <p>{{ edit_user }}</p>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">
      var userForm = {
        template: '#user-form',
        props: {
          edit_user: {
            type: Object,
            required: true
          }
        }
      }
      window.app = new Vue({
        el: '#app',
        components: {
          'user-form': userForm
        },
        data: function() {
          return {
            user: {}
          }
        },
        mounted: function () {
          this.user = {'id': 1,'firstname': 'Владлена', 'secondname': 'Семеновна', 'lastname': 'Александрова', 'avatar': null}
        }
      })
      Vue.config.devtools = true;
    </script>
  </body>
</html>
